<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans[
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>
        <!ATTLIST property id CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>
        ]>
<beans>

    <!--  DAO  -->
    <bean id="userBasicDAO" class="person.cls.qqzone.dao.impl.UserBasicDAOImpl"/>
    <bean id="topicDAO" class="person.cls.qqzone.dao.impl.TopicDAOImpl"/>

    <!--  Service  -->
    <bean id="userBasicService" class="person.cls.qqzone.service.impl.UserBasicServiceImpl">
        <property id="userBasicDAO" ref="userBasicDAO"/>
    </bean>
    <bean id="TopicService" class="person.cls.qqzone.service.impl.TopicServiceImpl">
        <property id="topicDAO" ref="topicDAO"/>
    </bean>

    <!--  controller  -->
    <bean id="user" class="person.cls.qqzone.controller.UserController">
        <property id="userBasicService" ref="userBasicService"/>
        <property id="TopicService" ref="TopicService"/>
    </bean>

</beans>